.Icon {
    fill: var(--icon-redesigned);
    color: var(--icon-redesigned);

    &.active {
        pointer-events: none;
        fill: var(--accent-redesigned);
        color: var(--accent-redesigned);
    }
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.button:hover .Icon,
.button.active .Icon{
    fill: var(--accent-redesigned);
    color: var(--accent-redesigned);
}

.button.active {
    pointer-events: none;
}
